/*badge.css 에 넣는 애들 기준 : 중복으로 쓰이는 애들!*/

.badge {
    background-color:tomato;
    width:30px;
    height:30px;
    border-radius:15px;
    display:flex;
    justify-content: center;
    align-items:center;
    color:white;
    font-weight:600;
}